<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VisualCS</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <header class="topbar">
    <h1>🎓 VisualCS</h1>

    <div class="progress-box">
        <span>Mission 1</span>
        <progress value="20" max="100"></progress>
    </div>
</header>

<main class="dashboard">

    <aside class="mission-card">

        <h2>🎯 Mission</h2>

        <h3>Discover LIFO</h3>

        <p>
            Your goal is to figure out the rule behind a Stack
            without being told.
        </p>

        <div class="meta">
            ⭐ Beginner<br>
            ⏱ 8 minutes
        </div>

    </aside>

    <section class="playground">

        <h2>📦 Playground</h2>

        <div id="stack"></div>

        <div class="buttons">

            <button id="pushBtn">PUSH</button>

            <button id="popBtn">POP</button>

        </div>

    </section>

    <aside class="byte-card">

    <h2>🤖 Byte</h2>

    <div class="mission-status">

        <div class="status-title">
            Mission Progress
        </div>

        <div class="steps">

            <div id="step1" class="step active">
                1. Press PUSH
            </div>

            <div id="step2" class="step">
                2. Press PUSH again
            </div>

            <div id="step3" class="step">
                3. Press PUSH one last time
            </div>

            <div id="step4" class="step">
                4. Press POP
            </div>

        </div>

    </div>

    <hr>

    <div id="message">

        Welcome! Let's discover how a Stack works.

    </div>

</aside>

</main>

<section class="discoveries">

    <h2>🏆 Discoveries</h2>

    <div id="discoveries">

        Nothing discovered yet...

    </div>

</section>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>
</html>